@{
    ViewData["Title"] = "Success!";
}
<h1>Succeded!</h1>
    <p>
        Ticket will be sent to your email address. 
        <hr>
        P.s. if you've booked tickets you have to pay for them at least an hour and a half before the session!
    </p>